@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}


body{
    overflow: visible; 
      background-color: rgb(242, 242, 242);
  text-align: right;
  font-family: "Libre Baskerville";
}



.Whole{
  width: 100%;
  height: 100%;
  position: absolute;
    overflow: hidden; 
  width: 100%;
  z-index: 0;
  
}


.SkyImageDiv{
  position: Fixed;
    overflow: visible;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: -10;
}

.MainImage{
    position: absolute;
    z-index: -10;
}

.BlackGradient{
    background: linear-gradient(black, transparent);
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
    

}


.MainHeader{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 6%;
}

.HeaderTitle{
    z-index: -3;
    font-size: 800%;
    text-align: right;
    color: white;
}

.noticeText{
  padding-right: 7%;
  padding-bottom: 10px;
}

.Pages{
    z-index: 3;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 200%;
    color: white;
}

.SubButton{
  background-color: transparent;
  border: transparent;
  font-family: libre Baskerville;
}


a:link, a:visited {
    color: white;
}
