@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}


body{
    overflow: visible; 
      background-color: rgb(242, 242, 242);
  text-align: right;
  font-family: "Libre Baskerville";
}






.Background{
  width: 100%;
  height: 100%;
  z-index: -20;
  position: absolute;
  background-color: rgb(242, 242, 242);
  transition: all 1s ease-in-out;
}

.Background.active{
  background-color: rgb(255, 255, 255);
}


.Whole{
  width: 100%;
  height: 100%;
  position: absolute;
    overflow: hidden; 
  width: 100%;
  z-index: 0;
  
}


.SkyImageDiv{
  position: Fixed;
    overflow: visible;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: -10;
    margin:0%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    will-change: transform;
    transition: all 1s ease-in-out;
}

.SkyImageDiv.works {
  top: 0;
  left: 70%; 
  width: 20%;
  height: 70vh;
  margin-right: 10%;
}


.MainImage{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

.BlackGradient{
    background: linear-gradient(black, transparent);
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
    transition: all 1s ease-in-out;

}


.BlackGradient.active{
    opacity: 0%;
}



.MainHeader{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 6%;
}

.HeaderTitle{
    z-index: -3;
  font-size: clamp(4.5rem, 10vw, 10rem);
  opacity: 1;
    margin-right: 6%;
    text-align: right;
    color: white;
        transition: all 1s ease-in-out;
}

.HeaderTitle.Hide{
  opacity: 0;
}


.typing-line {
    position: relative;
    display: inline-block;
}

#cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}





.noticeText{
  padding-right: 7%;
  padding-bottom: 10px;
  opacity: 1;
          transition: all 1s ease-in-out;
}
.noticeText.Hide{
  opacity: 0;
}

.Pages{
    z-index: 3;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 200%;
    color: white;
    opacity: 1;
            transition: all 1s ease-in-out;
}

.Pages.Hide{
 opacity: 0; 
}

.SubButton{
  background-color: transparent;
  border: transparent;
  font-family: libre Baskerville;
}


a:link, a:visited {
    color: white;
}









.whiteSlideBio {
  position: fixed;
  bottom: -100%;           /* start off-screen below */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  transition: transform 1s ease-in-out;
  transform: translateY(0);
}

.whiteSlideBio.active {
  transform: translateY(-100%); /* moves upward??? */
}






.whiteSlideBio2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9;
  transition: transform 1s ease-in-out;
  transform: translateY(0);    /* start full screen */
  pointer-events: none;        /* allow user to interact with page under it */
  opacity: 0;                 
}

.whiteSlideBio2.active {
  transform: translateY(100%); 
  opacity: 1;                   
  pointer-events: none;         
}

.whiteSlideBio2.deactive {
  transform: translateY(0); 
}










.skyImageDiv.active {
  transition: transform 1s ease-in-out;
  transform: translateY(-20%); 
}