@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: rgb(255, 255, 255);
    font-family: libre Baskerville;
}

.Main{
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 10%;
    color: rgb(0, 0, 0);
}

.HeaderTitle{
    font-size: 500%;
    color: rgb(0, 0, 0);
}

.PageHistory{

    font-size: 100%;
    color: rgb(0, 0, 0);
}