@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}








body{
    background-color: rgb(255, 255, 255);
    font-family: libre Baskerville;
}

mark{
  background-color: rgb(193, 212, 255);
}

.Main{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6%;
    opacity: 0;
    color: rgb(0, 0, 0);
      transition: all 1s ease-in-out;
}

.Main.Show{

  opacity: 1;
}

.Main.Hide{
    opacity: 0;
}

.IconsBox{
  width: clamp(55px, 10vw, 100px);
  height: auto; 
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 15px;

}

.IconsBox img{
  padding: 6px;
}


.HeaderTitle{
      font-size: clamp(2.5rem, 10vw, 8rem);
    color: rgb(0, 0, 0);
    margin-left: -10%;
    padding-bottom: 5%;
    opacity: 1;
      transition: all 1s ease-in-out;
}

.HeaderTitle.Hide{
  opacity: 0;
  
}

.BioText{
  font-size: medium;
  padding-bottom: 3%;
      opacity: 1;
  font-size: clamp(0.3rem, 3.5vw, 1rem);
    transition: all 1s ease-in-out;
}

.BioText.Hide{
  opacity: 0;
  
}

.PageHistory{

    font-size: clamp(0.3rem, 3.5vw, 1rem);
    color: rgb(0, 0, 0);
    padding-bottom: 5%;
}



a:link{
  color: rgb(72, 154, 209);
}

a:visited{
    color: rgb(72, 154, 209);
}

a:active{
    color: rgb(72, 154, 209);
}