@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: rgb(255, 255, 255);
    font-family: libre Baskerville;
}

mark{
  background-color: rgb(193, 212, 255);
}

.Main{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    color: rgb(0, 0, 0);
}

.IconsBox{
  width: 70px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 15px;

}

.IconsBox img{
  padding: 6px;
}


.HeaderTitle{
    font-size: 600%;
    color: rgb(0, 0, 0);
    margin-left: -10%;
    padding-bottom: 5%;
}

.BioText{
  font-size: medium;
  padding-bottom: 3%;
}

.PageHistory{

    font-size: 100%;
    color: rgb(0, 0, 0);
}