@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}


a:link{
  color: rgb(72, 154, 209);
}

a:visited{
    color: rgb(72, 154, 209);
}

a:active{
    color: rgb(72, 154, 209);
}






body{
    background-color: rgb(255, 255, 255);
}




.MainWrapper{
    width: 100%;
    height: 130%;
    color: rgb(0, 0, 0);
    font-family: libre Baskerville;
    position: absolute;
    overflow: auto;
}

.HeaderTitle{
    margin-left: 14%;
      font-size: clamp(2.5rem, 15vw, 10rem);
    padding-top: 3%;
        opacity: 0;
    transition: all 1s ease-in-out;

}

.HeaderTitle.Show{
  opacity: 1;
}

.HeaderTitle.Hide{
  opacity: 1;
}

.PageHistory{
    margin-left: 7%;
    font-size: clamp(0.2rem, 3.5vw, 1rem);
}






.skyBox{
position: fixed;
top: 0;
right: 0; 
width: 20%;
height: 70vh;
margin-left: 70%;
margin-right: 10%;
background-color: grey;
transition: all 1s ease-in-out;

}

.skyBoxImage{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skyBox.active{
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    margin:0%;
}



.worksGrid{
    position: absolute;
    margin-left: 14%;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    overflow: visible;
    width: 50%;
    height: 70%;
    padding: 5%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.worksGrid.Show{
  opacity: 1;
}

.worksGrid.Hide{
  opacity: 0;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


    


.WorksBox {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: black;
  margin-bottom: 5%;
  opacity: 0;
  transform: translateY(20px);
  transition: height 0.4s ease;
}

.WorksBox:hover {
    height: 200px; 
}

.WorksBoxImageWrapper{
    display: flex;
    justify-content: center;  
    align-items: center;      
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.WorksBoxImage{
    object-fit: cover;

}







.WorkDropdown{
    flex-direction: column;
    padding: 2%;
    
}




.worksGrid.Show .WorksBox {
  animation: fade-in-up 0.6s forwards;
}

.worksGrid.Show .WorksBox:nth-child(1) { animation-delay: 0.1s; }
.worksGrid.Show .WorksBox:nth-child(2) { animation-delay: 0.3s; }
.worksGrid.Show .WorksBox:nth-child(3) { animation-delay: 0.5s; }
.worksGrid.Show .WorksBox:nth-child(4) { animation-delay: 0.7s; }
.worksGrid.Show .WorksBox:nth-child(5) { animation-delay: 0.9s; }



















.GalleryImage{
    width: 10%;

}

.ProjectContainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    

}












.whiteFade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease; /* controls fade speed */
  z-index: 999;
}

.whiteSlideBio.active {
  opacity: 1;
  pointer-events: all;
}