body{
    color: black;
}

.Main{
    padding-left: 10%;
    padding-top: 10%;
    color: white;
}

.HeaderTitle{
    font-size: 500%;
    color: white;
}

.PageHistory{

    font-size: 100%;
    color: white;
}

.WorkDropdown{
    flex-direction: column;
    padding: 2%;
    
}

.GalleryImage{
    width: 10%;

}

.ProjectContainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

.ProjectContainerText{
    
}