body{
    color: black;
}

.MainHeader{
    padding-left: 10%;
    padding-top: 10%;
}

.HeaderTitle{
    font-size: 700%;
    color: white;
}

.Pages{
    padding-left: 7%;
    font-size: 200%;
    color: white;
}