@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}


.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: bold;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}







body{
    background-color: rgb(255, 255, 255);
}

.siteWrapper{
    color: black;
    font-family: libre Baskerville;
}

.MainDiv{
    justify-content: center;
    text-align: center;
    
}

.NavBar{

  font-size: clamp(0.3rem, 3.5vw, 1rem);
}

.Title{
      font-size: clamp(2.5rem, 15vw, 10rem);
  text-align: left;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.TitleText{
  display: flex;
  
}

.TitleDate{
  font-size: medium;
  align-self: flex-end;
  margin-bottom: 35px;
  margin-left: 20px;
}

.VideoAndDesc{
  position: relative;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.description{
  position: relative;
  margin-left: 3%;
  width: 50%;
  text-align: left;
  margin-right: 5%;
}

.descriptionHeader{
  font-size: 40px; 
  font-family: libre Baskerville;
  font-style: bold; /*????*/
  margin-bottom: 15px;

}

@media screen and (max-width: 768px), (orientation: portrait) {

  .Title{
    margin-top: 5%;
  }

  .TitleText{
  display: flex;
  margin-top: 5%;
  }

  .TitleDate{
  font-size: medium;
  align-self: flex-end;
  font-size: clamp(0.3rem, 3vw, 1rem);
  margin-bottom: 10px;
  margin-left: 10px;
}

  .VideoAndDesc {
    flex-direction: column; /* stack vertically */
    align-items: center;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
  }

  .video {
    margin-left: 0;
    width: 90%;
    aspect-ratio: 16 / 9;
  }

  .description {
    margin-top: 10%;
    width: 80%;
      font-size: clamp(0.3rem, 3.5vw, 1rem);
    text-align: left; 
  }

  .descriptionHeader {
     font-size: clamp(1em, 7vw, 5rem);
    text-align: center;

  }
}

.video{
  position: relative;

  width: 90%;
  aspect-ratio: 16 / 9;
}


.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
































.StoryBehind{
  margin-top: 5%;
  position: relative;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.StoryBehindHeader{
  font-size: 40px;

}

.StoryBox{
  margin: 0 auto;
  margin-top: 3%;
  width: 80%;
  justify-content: center;
  align-self: center;
  
}

.Storybox2{
    margin-top: 3%;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box; 
  overflow-x: hidden; 
}

.Storybox2 img{
  flex: 1 1 0;
  object-fit: cover;
  min-width: 0; 
  
  height: auto; 
  display: block;
  object-fit: contain;
  max-width: 100%;
}




a:link{
  color: rgb(72, 154, 209);
}

a:visited{
    color: rgb(72, 154, 209);
}

a:active{
    color: rgb(72, 154, 209);
}